# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log*
.env
.env.*.local

# Logs
logs
*.log
*.log.*
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock
lib-cov

# Coverage directory used by tools like istanbul
coverage/
.nyc_output/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# REPL history
.node_repl_history

# Profiler data
*.prof

# Debug result files
*.out
*.map

# Dependency directories
jspm_packages/

# Optional IDE or editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS specific files
.DS_Store

# Linux specific files
*.swp

# Temporary files
.tmp/
temp/

# Build Production
dist/


